<h1>Salut à toi ! Merci pour ton inscription ;)</h1>

<p>
    Je te demande simplement de confirmer ton adresse e-mail en cliquant sur ce lien, c'est juste pour être sûr que c'est bien toi :D : <br><br>
    <a href="{{ signedUrl }}">Par ici la confimation !</a>.
    Ne traine pas trop, ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
