{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h2>Home page</h2>

    {% if app.user %}
        <h3>Bonjour {{ app.user.nickname }} !</h3>
    {% else %}
        <h3>Non connecté</h3>
    {% endif %}
{% endblock %}